# Binaries
bin/
*.exe

# Dependencies
node_modules/

# Build artifacts
plugin/main.js
plugin/main.js.map

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
certs/

# Test data
test-vault/
server/vault-sync

# Maven wrapper junk
.mvn/
mvnw.cmd
mvnwDebug*
mvn-wrapper.zip

# Server build
server/target/

# Keystores
*.p12
